// Colors
$blue: #255289;
$dark-blue: #134080;
$light-green: #7ED322;
$light-blue: #0074E4;
$muted: #d6d6d6;
$dark-muted: #c4c4c4;
$light-muted: #f1f1f1;

// Sizes

$nav-height: 70px;

// Icon Sizes
$icon-md: 1.25rem;



.bold {
  font-weight: bold;
}

.light-bold {
  font-weight: 500;
}

.muted {
  color: $muted;
}

.dark-muted {
  color: $dark-muted
}

.highlight-blue {
  color: $light-blue;
}

.icon {
  padding: 0 0.5rem;
  
  i {
    font-size: $icon-md
  }
}

a {
  cursor: pointer;
}


